@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.home {
	height: 100vh;
	width: 100%;
	background-image: url(img/elephants-1.jpeg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.header {
	padding-top: 10px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	background-color: #001202;
	transition: 1s;
	width: 100%;
	position: fixed;
	z-index: 1;

}

span {
	color: #fff;
}

.header .logo {
	font-size: 25px;
	color: white;
	text-decoration: none;
	margin-left: 50px;
	opacity: 1;
}

.navbar a {
	color: white;
	font-size: 15px;
	transition: transform .4s;
	justify-content: space-between;
	text-transform: uppercase;
	padding: 10px;
	margin: 20px;
	text-decoration: none;
}

.navbar a:hover {
	color: #d09800;
	transition: .4s;
}

.btn {
	color: white;
	text-decoration: none;
	padding: 13px 30px;
	border-radius: 30px;
	border: 2px solid transparent;
	margin-right: 50px;
	background-color: #263a3e;

}

.btn:hover {
	transition: .6s;
	border: 2px solid #d09800;
	background-color: transparent;
}

.homepage {
	display: flex;
	align-items: left;
	flex-direction: column;
	text-align: center;
	width: 70%;
	height: 70%;
	margin-left: 100px;
}

.homepage-content{
    transform: translateY(100px);

}

.homepage-content h1 {
	font-size: 80px;
	margin-bottom: 10px;
	text-align: left;
	color: #001202;
	text-transform: uppercase;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	font-family: "Open Sans", sans-serif;
	align-content:center;
	font-weight: 500;
    line-height: 68px;
}

.homepage-content h2 {
	color: #001202;
	font-size: 35px;
	font-weight: 500;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	font-family: "Open Sans", sans-serif;
	text-transform: capitalize;
	text-align: left;
}

.about {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	width: 100%;
	background-color: #001202;
	margin-bottom: 30px;
}

.main {
	width: 1000px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 25px;
}

.about-text h1 {
	color: white;
	font-size: 55px;
	text-transform: capitalize;
	margin-bottom: 30px;
	margin-top: 60px;
}

.about-text p {
	color: #d09800;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 25px;
	margin-bottom: 60px;
}

.about-btn {
	margin-bottom: 60px;
	justify-content: space-around;
}

.hero {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	width: 100%;
	background-color: #ffffff;
	margin-bottom: 60px;
}

h1 {
	color: #001202;
	font-size: 55px;
	text-transform: capitalize;
	margin-bottom: 30px;
	margin-top: 75px;
	margin-bottom: 75px;
	text-align: center;
}

.service {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.service img {
	height: auto;
	width: 430px;
}


.service-text {
	width: 650px;
}

.service-text p {
	color: #001202;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 20px;
	margin-bottom: 45px;
}

.service-text h2 {
	color: #d09800;
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.services {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	width: 100%;
	background-color: #d09800;
}

.footer {
	background-color: #001202;
	color: #263a3e;
	padding-top: 50px;
}

.footer-container {
	padding-bottom: 30px;
}

.contacts {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.contacts-tel {
	margin-top: 25px;
	margin-bottom: 25px;
	color: #d09800;
	font-size: 35px;
}

.contacts p {
	font-size: large;
	padding-bottom: 5px;
}

.social {
	display: flex;
	align-items: center;
	color: #d09800;
}

.social a {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	border-radius: 50%;
	margin: 22px 10px;
	color: #001202;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover {
	transform: scale(1.3);
	transition: .5s;
}